h2 {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 30px;
}

h2, a {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #337ab7;
  text-decoration: none;
  font-weight: 500;
}

h5 {
  padding: 8px;
  margin: 0;
}

span a{
  font-size: 20px;
  color: rgb(97, 118, 187);
}

footer {
  background-color: #e3f2fd;
  margin: 0 auto;
  height: 200px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer p {
  color: black;
}
